/* Header */

.header {
  position: relative;
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
  width: 33vw;
}

.header-fixed {
  position: fixed;
  display: grid;

  background-color: rgba(72, 67, 60, 0.428);
  color: var(--color-text-header);

  width: 33vw;
  min-height: 100%;
  align-content: space-between;
  justify-content: right;
  justify-items: right;

  box-sizing: border-box;
  padding: 50px;
}

.perfil {
  display: grid;
  justify-items: right;
  gap: 20px;
  text-align: end;
}

.perfil img {
  border-radius: 50%;
}

.perfil h1 {
  max-width: 20ch;
  font-size: 1.5rem;
}

.perfil h1 span {
  color: var(--color-title-header);
}

.perfil p {
  color: var(--color-p-header);
}

.header-footer div {
  text-align: end;
  opacity: 60%;
}

@media (max-width: 850px) {
  .perfil h1 {
    font-size: 1rem;
    max-width: fit-content;
  }
}

@media (max-width: 650px) {
  .header {
    width: 100%;
  }
  .header * {
    margin: 0;
    gap: 0;
  }
  .header-fixed {
    width: 100%;
    position: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
  }

  .perfil {
    display: flex;
    align-items: center;
  }

  .perfil h1 {
    max-width: initial;
  }

  .header-footer {
    align-self: flex-end;
  }
}
