/* reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
  font-family: "Quicksand", sans-serif;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-bg-button);
}

ul {
  list-style: none;
}

img {
    object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 1px 2px  var(--box-shadow);
}

table,
th,
tr,
td,
tbody,
thead {
  border: none;
  text-align: start;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin: 30px 0;
  max-width: 105ch;
}

/* global grid */

.container-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* MAIN */

.content {
    padding-left: 50px;
    padding-top: 100px;
    max-width: 1200px;
}


@media (max-width: 650px) {
        .container-grid {
            display: block;
        }

        .content {
            max-width: 85%;
            padding: 50px 40px 50px 30px;
            margin: 0 auto;
        }
}